<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" type="image" href="/images/favicon.ico">
    <title>Halaman Admin</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="judul-halaman">Halaman Khusus Admin Himatro</h1>

      <div class="container-daftar-menu">
        <h4 class="judul-menu">Daftar Menu:</h4>
        <div class="container-menu">
          <div class="menu" style="background-color: aquamarine;">
            <h6>Event terkini dan yang akan datang: </h6>
            <% let i = 1 %>
            <% if (upcomingEvents.length === 0) { %>
            <p><%= 'No events' %></p>
            <% } else { %>
              <ol>
              <% upcomingEvents.forEach((data) => { %>
                <li>
                  Nama Kegiatan: <%= data.nama_kegiatan %><br>
                  Tanggal Pelaksanaan: <%= String(data.tanggal_pelaksanaan).slice(0, 25) %><br>
                  Tanggal Berakhir: <%= String(data.tanggal_berakhir).slice(0, 25) %><br>
                  Kode Absen: <%= data.kegiatan_id ? data.kegiatan_id: '-' %>
                </li>
              <% }); %>
              </ol>
            <% } %>
          </div>
          <div class="menu">
            <h6>Buat Absen Pengurus</h6>
            <form name="createAbsent">
              <label for="lingkup">Pilih Lingkup Kegiatan:</label>
              <select id="lingkup" name="lingkup">
                <option value="seluruhAnggota">Seluruh Anggota</option>
              </select><br>

              <label for = "namaKegiatan">Nama Kegiatan: </label>
              <input type="text" id = "namaKegiatan" name = "namaKegiatan">

              <label for="tanggalPelaksanaan">Tanggal Pelaksanaan: </label>
              <input type="date" id = "tanggalPelaksanaan" name = "tanggalPelaksanaan">

              <label for="jamPelaksanaan">Waktu Dimulai (12 hour format): </label>
              <input type="time" timeformat="24h" id = "jamPelaksanaan" name = "jamPelaksanaan">

              <label for="tanggalBerakhir">Tanggal Berakhir: </label>
              <input type="date" id = "tanggalBerakhir" name = "tanggalBerakhir">

              <label for="jamBerakhir">Waktu Berakhir (12 hour format): </label>
              <input type="time" id = "jamBerakhir" name = "jamBerakhir">

              <input value="Gunakan" id="btnAbsenPengurus" class="btn-menu" style="margin-top: 3%; font-weight: 800;">
            </form>
          </div>
          <div class="menu">
            <h6>Lihat Seluruh Kegiatan</h6>
            <form action="/feature/feature002" method="POST">
              <input type="submit" value="Gunakan" class="btn-menu" style="margin-top: 10%; font-weight: 800;">
            </form>
          </div>
          <div class="menu">
            <h6>Sosmed Post Validation</h6>
            <p class="deskripsi-menu">Menu ini bisa anda gunakan untuk mendeteksi apakah postingan sosial media yang diposting sudah sesuai atau belum berdasarkan text yang ada di gambar/bukti uploadnya</p>
            <p class="deskripsi-menu">Untuk bagian kata/kalimat kunci, anda bisa mengetikan kalimat yg anda ingin ada di postingan, atau anda bisa menuliskan setiap kata dengan mengetikan ','(koma) untuk memisahkan setiap kata. Contoh: 'Paid Promote EEA' atau 'Paid,promote,eea'</p>
            <form name="socmedPostValidation">
              <label for = "namaPostingan">Nama Postingan: </label>
              <input type="text" id = "namaPostingan" name = "namaPostingan">

              <label for="tanggalPelaksanaan">Tanggal Mulai: </label>
              <input type="date" id = "tanggalPelaksanaan" name = "tanggalPelaksanaan">

              <label for="tanggalBerakhir">Tanggal Berakhir: </label>
              <input type="date" id = "tanggalBerakhir" name = "tanggalBerakhir">

              <label for="keyword">Kata/Kalimat Kunci (max 256 karakter): </label>
              <input type="text" id = "keyword" name = "keyword">

              <input value="Gunakan" id="btnSocmedPostValidation" class="btn-menu" style="margin-top: 3%; font-weight: 800;">
            </form>
          </div>
          <!--<div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>-->
        </div>
      </div>
    </main>
    <footer class="container-footer">
      <div class="footer-block">
        <img class="logo-footer" src="/images/Himatro.png" alt="Himatro Unila">
      </div>
      <div class="footer-block" style="flex-grow: 2;">
        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>

        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>

        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>

        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>
      </div>
    </footer>
    <script src="/js/admin.js"></script>
  </body>
</html>