<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="../../public/images/favicon.png">
  <title>Himatro Web App</title>
  <style>
    body {
      border: 2px solid black;
      width: 80%;
      max-width: 1000px;
      margin: auto;
      box-shadow: 5px 5px;
      padding: 5%;
    }
    h1 {
      font-size: 36px;
      text-align: center;
    }

    .profile-image {
      border-radius: 50%;
      width: 50%;
      max-width: 300px;
      margin-left: 10%;
    }

    .center {
      display: block;
      margin: auto;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 60%;
      max-width: 1000px;
      margin: auto;
      text-align: center;
    }

    .profile-card {
      width: 90%;
      max-width: 700px;
      margin: auto;
    }

    table {
      width: 100%;
      margin: auto;
      border-collapse: collapse;
    }

    .value {
      font-weight: 700;
    }

    td {
      padding: 5px;
    }

    .key {
      font-weight: 900;
    }

    figcaption {
      text-align: center;
    }

    .btn-profile {
      padding: 15px;
      background-color: rgb(63, 41, 41);
      color: white;
      width: 35%;
      max-width: 250px;
      margin-top: 5%;
      margin-bottom: 10%;
      font-weight: 700;
      font-size: 16px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .btn-profile:hover {
      background-color: rgb(230, 23, 23);
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Profile Page</h1>
  <figure>
    <img src="<%= data.profileImgUrl %>" alt="Foto Profile" class="profile-image center">
  <h1><%= data.nama %></h1>
  <figcaption></figcaption>
  </figure>
  <div class="card">
    <div class="profile-card center" id="profileInfo">
      <h4>Informasi Umum</h4>
      <table>
        <tr>
          <td class="key">NPM</td>
          <td class="value"><%= data.npm %></td>
        </tr>
        <tr>
          <td class="key">Email</td>
          <td class="value"><%= data.email %></td>
        </tr>
        <tr>
          <td class="key">Departemen</td>
          <td class="value"><%= data.departemen ? data.departemen : '?' %></td>
        </tr>
        <tr>
          <td class="key">Divisi</td>
          <td class="value"><%= data.divisi ? data.divisi : '?' %></td>
        </tr>
    </div>
  </div>
  <script>
    const isProfileComplete = <%= data.isProfileComplete %>;

    const createUpdateProfileButton = () => {
        const profileInfo = document.getElementById('profileInfo')
        const buttonLink = document.createElement('a')
        const updateProfileButton = document.createElement('button')
        const buttonName = document.createTextNode('Update Profile')

        buttonLink.href = '/profile/update'
        buttonLink.style.color = 'white'
        
        updateProfileButton.setAttribute('class', 'btn-profile')
        buttonLink.appendChild(buttonName)
        updateProfileButton.appendChild(buttonLink)
        profileInfo.appendChild(updateProfileButton)

        alert('Terdapat data profile yang belum lengkap. Mohon lengkapi data terlebih dahulu')
    }

    if (!isProfileComplete) {
        createUpdateProfileButton()
    }
  </script>
</body>
</html>