<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image" href="/images/favicon.ico">
  <title>Himatro Web App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <nav>
      <ul class="topnav">
        <li class="center"><a href="#"><img class="navbar-image" src="/images/favicon.png" alt="logo himatro"></a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="judul-konten">
      <section>
        <h4>Hasil Absensi <%= namaKegiatan %></h4>
      </section>
    </div>
    <% let i = 0; %>

    <table id="table-absensi">
      <tr id="sticky-th">
        <th>No</th>
        <th>NPM</th>
        <th>Nama</th>
        <th>Kelas</th>
        <th>Bukti</th>
      </tr>
      <% dataHasilAbsensi.forEach((data) => {%>
        <tr>
          <td><%= i+1 %></td>
          <td style="min-width:100px"><%= data.npm %></td>
          <td style="min-width:100px"><%= data.nama %></td>
          <td style="min-width:100px"><%= data.kelas %></td>
          <% if (data.resume) { %>
          <td style="min-width:100px"><a href="<%= `/kaderisasi/sdm/absensi/bukti?presensiId=${presensiId}&npm=${data.npm}` %>">bukti</a></td>
          <% } else { %>
          <td style="min-width:100px">?</td>
          <% } %>
          <% i++ %>
        </tr>
      <%});%>
    </table>
  </main>

  <div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 item text">
                  <h3>Himatro Web App</h3>
                  <p>Website ini masih dalam tahap pengembangan. Setiap saran, masukan, atau kontribusi anda akan sangat kami hargai!</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Himatro Unila © 2021</p>
      </div>
  </footer>
  </div>
</body>
</html>
