<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image" href="images/favicon.ico">
  <title>Himatro Web App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <style>
  body {margin: 0;}
  main {margin: 5px;}

  /* self styling */
  .judul-konten {
    text-align: center;
  }
  /* end self styling */
  /* navbar header */
  .navbar-image {
    height: 30px;
  }
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  ul.topnav li {float: left;}

  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.topnav li a:hover:not(.active) {background-color: #111;}

  ul.topnav li a.active {background-color: #04AA6D;}

  .center {
    width: 100%;
  }


  @media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
  }
  /* end navbar */

  /* searcj bar styling */
  form.example input[type=text] {
    box-sizing: border-box;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.example button {
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 10px;
    background: #282d32;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.example button:hover {
    background: #482f32;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  /*end search bar styling */

  /* footer stylung */
  .footer-dark {
    bottom: 0;
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }

  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }

  .footer-dark .item.text {
    margin-bottom:36px;
  }

  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }

  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }

  .footer-dark .item.social {
    text-align:center;
  }

  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }

  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }

  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  /* end footer styling */
    #table-absensi {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #table-absensi td, #table-absensi th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #table-absensi tr:nth-child(even){background-color: #f2f2f2;}

    #table-absensi tr:hover {background-color: #ddd;}

    #table-absensi th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }


    /* sort menu radio button */
    .container {
      display: inline-block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
     	top: 9px;
    	left: 9px;
    	width: 8px;
    	height: 8px;
    	border-radius: 50%;
    	background: white;
    }

    #sortButton {
      background-color: white; /* Green */
      border: none;
      color: black;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px;
      transition-duration: 0.4s;
      cursor: pointer;
      border: 2px solid #4CAF50;
    }

    #sortButton:hover {background-color: #e7e7e7;}

    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
      color: black;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <ul class="topnav">
        <li class="center"><a href="#"><img class="navbar-image" src="images/favicon.png" alt="logo himatro"></a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="judul-konten">
      <section>
        <h4>Hasil Absensi Kegiatan <%= namaKegiatan %></h4>
      </section>
    </div>

    <div class="absenst-sorting-menu">
      <h6>Sort By: </h6>
      <div class="sortButton">
        <button id="sortButton"><a href="/absensi?absentId=<%=absentId%>&mode=view&sortBy=npm">NPM</a></button>
        <button id="sortButton"><a href="/absensi?absentId=<%=absentId%>&mode=view&sortBy=keterangan">Keterangan</a></button>
        <button id="sortButton"><a href="/absensi?absentId=<%=absentId%>&mode=view&sortBy=waktu_pengisian">Waktu Pengisian</a></button>
      </div>
    </div>

    <table id="table-absensi">
      <tr>
        <th>NPM</th>
        <th>Nama</th>
        <th>Keterangan</th>
        <th>Waktu Pengisian</th>
      </tr>
      <% dataHasilAbsensi.forEach((data) => {%>
        <tr>
          <td><%= data.npm %></td>
          <td><%= data.nama %></td>
          <td><%= data.keterangan %></td>
          <td><%= data.waktuPengisian %></td>
        </tr>
      <%});%>
    </table>
  </main>

  <div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 item text">
                  <h3>Himatro Web App</h3>
                  <p>Website ini masih dalam tahap pengembangan. Setiap saran, masukan, atau kontribusi anda akan sangat kami hargai!</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Himatro Unila © 2021</p>
      </div>
  </footer>
  </div>
</body>
</html>
